{% load staticfiles %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>



<div class="container container-table">
	<div class="row vertical-center-row">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 id="question">What is your favorite color?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2 text-center" id="answer-col-1">
				<button type="button" class="btn btn-primary" id="answer-1">Blue</button> <br> <br>
				<button type="button" class="btn btn-primary" id="answer-2">Green</button>
			</div>
			<div class="col-md-2 text-center" id="answer-col-2">
				<button type="button" class="btn btn-primary" id="answer-3">Red</button> <br> <br>
				<button type="button" class="btn btn-primary" id="answer-4">Purple</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
</div>